[user]
	email = lavrishkovlad@gmail.com
	name = Vlad Lavrishko
[credential]
	helper = cache
[init]
	defaultBranch = master
[core]
	editor = nvim
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[protocol "file"]
	allow = always
